@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face{
  font-family:'Android';
  src: url('../projeto/idroid.otf'); format('opentype');
  font-weight:normal;
}
:root{
 --cor0:#c5ebb6;
 --cor1:#83e10d;
 --cor2:#3ddc84;
 --cor3:#2fa886;
 --cor4:#1a5c37;
 --fonte-Android:'Android';
 --fonte-padrao:'Cursive';
  --fonte-destaque:'Bebas Nueu';
}
body{
  background-color:#c5ebb6;
  font-family: var(--fonte-destaque);

header{
  background-color: var(--cor4);
  
}
header > h1{
 color:white;
 font-family: var(--fonte-destaque);
}
header > p{
  color: white;
 font-family: var(--fonte-Android);
}
nav > a {
  background-color: var(--cor4);
}
main{
  background-color: white;
}
*{
  margin: 0px;
  padding: 0px;
}
article > h1{
  color: var(--cor1);
  font-family: var(--fonte-Android);
  
}
article > h2{
  font-family: var(--fonte-Android);
}
}
article > h3{
  font-family: var(--fonte-Android);
}
article > p{
  font-family:var(--fonte-padrao);
}
footer{ 
  background-color: var(--cor4);
  color:white;
}

